# @sodot:registry=https://registry.npmjs.org/
# //registry.npmjs.org/:_authToken=${NPM_SODOT_TOKEN}

# @dynamic-labs-wallet:registry=https://registry.npmjs.org/
# //registry.npmjs.org/:_authToken=${NPM_DYNAMIC_LABS_WALLET_TOKEN}